* {
    
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    width: 100vw;
    background-color: rgb(66, 66, 66);
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row; 
    justify-content: center;   
    color: whitesmoke;
    width: 80vw;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}


#dataXLogo {        
    height: 4rem;
    width: 4rem;
}

ul {
    display: flex;
    justify-content: space-between;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 1.6rem;
    column-gap: 2rem;
}
.header li {
    font-family: monospace, monospace;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    letter-spacing: 3px;
    margin-left: 1rem;

    
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0.07rem 0.4rem;
}

.header li:hover {
    background-color: #22b6c6;
    color: whitesmoke;
    border-radius: 12%;
    
    
}

#challengeLogo {

    height: 4rem;
    width: 4rem;
}

.top {
    display:flex;    
    flex-direction: column;
    margin-bottom: 1rem;
    height: 33vh;
    width: 100vw;
    color: whitesmoke;
}

h1 {
    padding-bottom: 1rem;
    font-weight: 700;
}

h2 {
    margin-bottom: 3.2rem;
}
h1,h2 {
    text-align: center;
    letter-spacing: 3px;
}

span {
    color: green;
}

.text-content {
    font-size: 1.2rem;
    width: 60vw;
    margin: auto;
    
}
.middle {
    display: flex;
    
    border: 2px solid hotpink;
    justify-content: center;
    height: 50vh;
    width: 70vw;
    margin-top: 1rem;
    
    
}

#leaf {
    width: 1430vw;
    z-index: -1;
    opacity: 0.7;
}
.middle form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border: 2px solid yellow;   
    text-align: start;
    font-size: 1rem;
    width: 50%;
}

label {
    margin-bottom: 0.5rem;
}

.input {
    width: 10rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    
    
}

.yes-value {
    display: inline-block;
    
    
}

#submit {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 50%;
    background-color: green;
    box-shadow: 1px 1px rgb(0, 0, 0);

}

#formOutput {
    color: whitesmoke;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
    margin-top: 5rem;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.527);
}

.links {
    display: flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
    width: 50vw;
    margin-top: 0.8rem;    
    margin-bottom: 1rem;
    
}

.links a {
    display: flex;
    justify-content: center;
    width: 6rem;
    

}

.links img {
    border-radius: 25%;
    border: 2px solid white;
    height: 6vh;
}


.footer p {
   padding-top: 0.5rem;
    text-align: center;
    color: whitesmoke;
    font-size: 1rem;
    
}
